.profile-header {
    position: fixed;
    top: 0;
    left: 256px;
    width: calc(100% - 256px);
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    &.collapse {
        width: calc(100% - 60px);
        left: 60px;
    }
    
    > *:not(:first-child) {
        margin-left: 15px;
    }
}

.profile-picture {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    border: 5px solid rgba(white, 0.5);
}

.profile-name {
    margin-right: auto;
}

.profile-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: olive;
    padding: 15px;
    transform: translate(0, 100%);
    min-width: 200px;
    text-align: right;
    display: none;
    li {
        list-style-type: none;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: white;
    }
}

.menu-toggle {
    height: 40px;
    width: 40px;
    border: 0;
    &.open + .profile-menu {
        display: block;
    }
}