<div class="profile-header" [ngClass]="{'collapse': global.collapse}">
	<img class="profile-picture" src="/assets/images/default-profile-picture.jpg" alt="">
	<h2 class="profile-name">Nikola</h2>
	<span class="gold">1234</span>
	<button class="menu-toggle" [ngClass]="{'open': global.dropdown}" (click)="global.dropdown = !global.dropdown">{{ global.dropdown ? '^' : 'v'}}</button>
	<ul class="profile-menu">
		<li>
			<a href="">Link</a>
		</li>
		<li>
			<a href="">Link</a>
		</li>
		<li>
			<a href="">Logout</a>
		</li>
	</ul>
</div>