<h1>Welcome to the starting tutorial</h1>
<h2>For start, please change your name:</h2>
<div *ngIf="Packs.playerData as p">
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		<label for="displayName">Display Name</label>
		<input type="text" name="displayName" id="displayName" [ngModel]="p.displayName">
		<button type="submit">Save profile</button>
	</form>
</div>
<hr>
<div class="reward-item-list">
	<ng-container *ngFor="let item of Packs.rewardPack">
		<ng-template [ngIf]="item.id">
			<div *ngIf="item.cardType === 'spell'" [ngClass]="'type type-spell'">
				<h3>{{ item.name }}</h3>
				<h5>{{ item.description }}</h5>
			</div>
			<div *ngIf="item.cardType === 'character'" [ngClass]="'type type-character type-' + item.type">
				<h3>{{ item.name }}</h3>
				<h5>{{ item.description }}</h5>
			</div>
			<div *ngIf="item.cardType === 'consumable'" [ngClass]="'type type-consumable'">
				<h3>{{ item.name }}</h3>
				<h5>{{ item.description }}</h5>
			</div>
		</ng-template>
		<ng-template [ngIf]="!item.id">
				
		</ng-template>
	</ng-container>
</div>
<hr>
<button type="button" (click)="Packs.openPack('tutorial')" [disabled]="Packs.rewardClaimed">Open first box</button>
<button type="button" (click)="Packs.openPack('basic')" [disabled]="Packs.rewardClaimed">Open basic box</button>