.reward-item-list {
    width: 100%;
    &::after {
        content: '';
        clear: both;
        display: block;
        width: 100%;
    }
}

.type {
    width: calc(25% - 10px);
    float: left;
    margin: 5px 5px 15px;
    border: 1px solid black;
    background-color: rgba(white, 0.4);
    
}

.type-common {
    box-shadow: 0 0 5px 0 white;
}
.type-rare {
    box-shadow: 0 0 5px 0 blue;
}
.type-epic {
    box-shadow: 0 0 5px 0 purple;
}
.type-legendary {
    box-shadow: 0 0 5px 0 orange;
}