<header class="header" [ngClass]="{'collapse': global.collapse}">
	<div class="logo">
		<img src="/assets/logo.png" alt="app logo">
		<button (click)="global.collapse = !global.collapse"></button>
	</div>
	<ul class="main-nav">
		<li>
			<a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Homepage</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/profile">Profile</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/login">Login</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/missions">Missions</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/team">Team</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/admin">Admin</a>
		</li>
	</ul>
</header>