@import '~assets/scss/helpers/_variables.scss';

:host {
	display: block;
}

.header {
	width: 256px;
	height: 100vh;
	background-color: pink;
	display: block;
	padding: 15px;
	// transition: $duration $easing;
	overflow: hidden;
	&.collapse {
		// width: 60px;
		margin-left: -196px;

		.main-nav {
			left: 181px;
			width: 60px;

			a::before {
				margin-right: 20px;
			}
		}
		li {
			text-align: center;
		}
		a {
			font-size: 9px;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-top: 2px;
			&::before {
				display: block;
				margin: 0 auto 5px !important;
			}
		}
	}
}

.logo {
	// display: flex;
	font-size: 0;
	margin-bottom: 15px;
	display: flex;
    align-items: center;
	img {
		width: 181px;
		height: auto;
		margin-right: 15px;
		display: inline-block;
		vertical-align: middle;
	}
	button {
		width: 30px;
		height: 30px;
		display: inline-block;
		border: 0;
		vertical-align: middle;
	}
}

.main-nav {
	// transition: $duration $easing;
	left: 0;
	position: relative;
}

li {
	margin-bottom: 15px;
	list-style-type: none;
	a {
		color: white;
		text-decoration: none;
		vertical-align: middle;
		&:hover::before {
			box-shadow: 1px 1px 1px 1px green;			
		}
	}
	.active::before {
		box-shadow: 1px 1px 1px 1px red;
	}
	a::before {
		content: '';
		background-image: url('~assets/icons/ph-icon.png');
		display: inline-block;
		height: 28px;
		width: 28px;
		background-size: cover;
		background-position: center;
		vertical-align: middle;
		margin-right: 10px;
		// transition: $duration/2 $easing;
	}
}