<header class="header">
    <img src="/assets/logo.png" alt="app logo" class="app-logo">
    <ul class="main-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/">Homepage</a>
        </li>
        <li *ngIf="authService.userId == null" routerLinkActive="active">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="authService.userId != null" routerLinkActive="active">
            <a routerLink="/profile">Profile</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/admin">Admin panel</a>
        </li>
    </ul>
</header>