@import "~assets/scss/variables.scss";

:host {
    width: 265px;
    flex: 1 0 265px;
    display: flex;
}

.header {
    width: 265px;
    height: 100vh;
    background-color: olive;
    display: block;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.app-logo {
    width: 100%;
    margin-bottom: 20px;
}

.main-nav {
    li {
        display: block;
        background-color: lightcyan;
        &.active {
            padding-left: 10px;
            > a {
                &::after {
                    width: 100%;
                }
            }
            li {
                display: block;
            }
        }
        li {
            padding-left: 10px;
            display: none;
        }
    }
    a {
        color: black;
        text-decoration: none;
        padding: 5px 0;
        display: inline-block;
        transition: padding $duration $easing;
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 0%;
            background-color: springgreen;
            transition: width $duration $easing;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
