<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	<div>
		<input type="checkbox" id="checkboxLoginRegister" name="checkboxLoginRegister" (click)="checkboxClicked($event);">
		<label for="checkboxLoginRegister">Login</label>
	</div>
	<br>
	<div>
		<label for="email">Email</label>
		<input 
			type="email"
			id="email"
			name="email"
			ngModel
			email
			required>
	</div>

	<div>
		<label for="password">Password</label>
		<input
			type="password"
			id="password"
			name="password"
			ngModel
			required>
	</div>

	<button type="submit" [disabled]="f.invalid">{{ isLogin ? 'Login' : 'Register'}}</button>
</form>