<div>
	<!-- <div 
		class="team-slot" 
		*ngFor="let item of pickTeam.collection; let i = index"
		(click)="onMakeActive(i, $event);"
		[ngClass]="{'active': i == pickTeam.activeSlot}">
		{{ item.name }}, with ID: {{ item.id }}
		<div class="item">
			<div class="spell-slot" *ngFor="let slot of Arr(item.slots).fill(1); let j = index">
				<span *ngIf="pickTeam.selectedSpells[i].spells[j] != undefined">
					{{pickTeam.selectedSpells[i].spells[j].name}}		
				</span>
			</div>
		</div>
		<button (click)="onDelete(i)">delete</button>
	</div> -->
<hr>
	<div 
		class="team-slot" 
		*ngFor="let item of pickTeam.team; let i = index"
		(click)="onMakeActive(i, $event);"
		[ngClass]="{'active': i == pickTeam.activeSlot}">
		{{ item.character.name }}, with ID: {{ item.character.id }}
		<div class="item">
			<div class="spell-slot" *ngFor="let slot of Arr(item.character.slots).fill(1); let j = index">
				<span *ngIf="pickTeam.team[i].spells[j] != undefined">
					{{pickTeam.team[i].spells[j].name}}		
				</span>
			</div>
		</div>
		<button (click)="onDelete(i)">delete</button>
	</div>

	<button *ngIf="pickTeam.team.length > 0" (click)="addTeam()">Add team</button>
</div>