@import "~assets/scss/variables.scss";

.team-slot {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    display: inline-block;
    margin: 0 20px;
    transition: background-color $duration $easing;
    &.active {
        background-color: white;
    }
}
.item {
    display: flex;
    justify-content: center;
    margin: 0 -5px;
    flex-direction: column;
}

.spell-slot {
    border: 1px solid black;
    // width: 30ppx;
    height: 30px;
    margin: 5px;
    // &:before {
    //     content: '';
    //     padding-top: 100%;
    //     display: block;
    // }
}