.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	&.wrapper-full {
		max-width: 100%;
	}
}

.row {
	margin: 0 -15px;
	font-size: 0;
}

.col {
	display: inline-block;
	font-size: 1rem;
	width: 100%;
	vertical-align: top;
	position: relative;
	// margin-bottom: 30px;
	.col-container {
		padding: 15px;
	}
}

.row-square {
	.col {
		&::before {
			content: '';
			padding-top: 100%;
			display: block;
		}
		.col-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.card-link-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.col--desk-12-12::before {
		padding-top: 25%;
	}
	.col--desk-9-12::before {
		padding-top: 33.33334%;
	}
	.col--desk-6-12::before {
		padding-top: 50%;
	}
	.col--desk-4-12::before {
		padding-top: 75%;
	}
}

.test {
	min-height: 30px;
	background: lightblue;
	width: 100%;
}

$col: 8.3333%;

@for $i from 1 through 12 {
	.col--desk-#{$i}#{-12} {
		width: $col * $i;
	}
}
