<div *ngFor="let teams of team.team; let i = index">
	<!-- {{teams}} -->
	<div *ngFor="let t of teams;">
		<div><strong>{{ t.character.name }}</strong></div>
		-----------------
		<ul>
			<li *ngFor="let s of t.spells">
				{{ s.name }}
			</li>
		</ul>
		-----------------
		<ul>
			<li *ngFor="let c of t.consumables">
				{{ c.name }}
			</li>
		</ul>
		------------------------------------------
	</div>
	<hr>
</div>