<div class="row row-square">
    <div class="col col--desk-4-12">
        <div class="col-container">
            <div class="card-link">
                <div class="card-link-content">
                    <h2>Some text</h2>
                    <a routerLink="/">Test Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col--desk-4-12">
        <div class="col-container">
            <div class="card-link">
                <div class="card-link-content">
                    <h2>Some text</h2>
                    <a routerLink="/">Test Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col--desk-4-12">
        <div class="col-container">
            <div class="card-link">
                <div class="card-link-content">
                    <h2>Some text</h2>
                    <a routerLink="/">Test Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col--desk-3-12">
        <div class="col-container">
            <div class="card-link">
                <div class="card-link-content">
                    <h2>Some text</h2>
                    <a routerLink="/">Test Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col col--desk-3-12">
        <div class="col-container">
            <div class="card-link">
                <div class="card-link-content">
                    <h2>Some text</h2>
                    <a routerLink="/">Test Link</a>
                </div>
            </div>
        </div>
    </div>
</div>