<form (ngSubmit)="onSubmit(fSpell)" #fSpell="ngForm">
	<div>
		<label for="spellName">Name</label>
		<input type="text" name="spellName" id="spellName" ngModel>
	</div>
	<div>
		<label for="spellDesc">Desc</label>
		<textarea name="spellDesc" id="spellDesc" cols="30" rows="10" ngModel></textarea>
	</div>
	<div>
		<label for="spellRarity">Rarity</label>
		<select name="spellRarity" id="spellRarity" ngModel>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<div>
		<label for="spellCooldown">Cooldown</label>
		<input type="number" name="spellCooldown" id="spellCooldown" ngModel>
	</div>
	<div>
		<label for="spellType">Type</label>
		<select name="spellType" id="spellType" ngModel>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<div>
		<label for="spellPower">Power</label>
		<input type="number" name="spellPower" id="spellPower" ngModel>
	</div>
	<div>
		<label for="spellDuration">Duration</label>
		<input type="number" name="spellDuration" id="spellDuration" ngModel>
	</div>
	<div>
		<label for="spellGroup">Group</label>
		<select name="spellGroup" id="spellGroup" ngModel>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<button type="submit">Submit</button>
</form>