@import "layout/_grid.scss";
@import "layout/_buttons.scss";

// temp
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
    font-size: 14px;
}

.container {
	display: flex;
}

body {
    background-color: lightblue;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    // font-size: 14px;
}

button {
    cursor: pointer;
}

select,
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

//

.card-link {
    width: 100%;
    position: relative;
    height: 100%;

    .card-link-content {
        box-shadow: 0 0 5px 1px rgba(black, 0.2);
        background-color: white;
        padding: 30px;
    }

    // temp
    a::before {
        content: '';
        background-color: rgba(white, 0);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-container {
    padding-top: 15px;
}
.profile-header-component + .main-container {
    padding-top: 77px;    
}

.gold {
    display: inline-block;
    &::after {
        background-image: url('assets/images/gold.svg');
        height: 1em;
        width: 1em;
        margin-left: 0.5em;
        content: '';
        display: inline-block;
    }
}