.active {
    background-color: white;
}

.card-slot {
	padding: 20px 20px 10px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}

.card-character {
	border: 1px solid black;
	border-radius: 10px;
	background-color: bisque;
	width: 150px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.card-spells {
	padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
	.spell {
		margin-bottom: 10px;
		border: 1px solid black;
	}
}
.card-consumables {
	.consumable {
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid black;
	}
}

.card-buttons {
	width: 100%;
}

.card-details {
	flex: 1 0 auto;	
}