<button class="button" [disabled]="!(teamSlots < 3)" (click)="addNewSlot()">{{ teamSlots === 0 ? 'Create new team' : 'Add new slot'}}</button>
<button class="button" [disabled]="!(teamSlots > 0)" (click)="deleteSlot()">Delete Slot</button>
<button class="button" [disabled]="teamSlots < 3" (click)="saveTeam()">Save</button>

<div class="row" *ngIf="teamSlots > 0">
	<div class="col col--desk-4-12" *ngFor="let slot of Arr(teamSlots).fill('1'); let i = index">
		<div class="col-container">
			<button (click)="activeSlot = i">Activate</button>
			<div class="card-slot" [ngClass]="{'active': activeSlot === i}">
				<div class="card-buttons">
					<button *ngIf="!picks[i].character" (click)="picks[i].character = true">Add Character</button>
					<button *ngIf="picks[i].character && !picks[i].spells" (click)="picks[i].spells = true">Add Spells</button>
					<button *ngIf="picks[i].spells && !picks[i].consumables" (click)="picks[i].consumables = true">Add Consumables</button>
					<button *ngIf="pickedTeam[i].character !== ''"(click)="deleteChar(i)">Remove Character</button>
				</div>
				<div *ngIf="picks[i].character" class="card-character" (click)="changeList(1)">
					{{ pickedTeam[i].character.name }}
				</div>
				<div class="card-details" *ngIf="pickedTeam[i].character !== ''">
					<div *ngIf="picks[i].spells" class="card-spells" (click)="changeList(2)">
						<span *ngIf="pickedTeam[i].spells.length === 0">add spells</span>
						<div class="spell" *ngFor="let spell of pickedTeam[i].spells; let j = index">
							{{ spell.name }}
							<button (click)="deleteSpell(i, j)">x</button>
						</div>
					</div>
					<div *ngIf="picks[i].consumables" class="card-consumables" (click)="changeList(3)">
						<span *ngIf="pickedTeam[i].consumables.length === 0"> add consumables </span>
						<div class="consumable" *ngFor="let consumable of pickedTeam[i].consumables">
							{{ consumable.name }}
							<button (click)="deleteConsumable(i, j)">x</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-container">
			<ul *ngIf="showList === 1">
				<li *ngFor="let item of char.characters; let i = index" (click)="addCharacter(i)">{{ item.name }}, {{ item.desc }}</li>
			</ul>
			<ul *ngIf="showList === 2">
				<li *ngFor="let item of spell.spells; let i = index" (click)="addSpell(i)">{{ item.name }}, {{ item.desc }}</li>
			</ul>
			<ul *ngIf="showList === 3">
				<li *ngFor="let item of cons.consumables; let i = index" (click)="addConsumable(i)">{{ item.name }}, {{ item.desc }}</li>
			</ul>
		</div>
	</div>
</div>