<div class="container">
	<app-header></app-header>
	<app-profile-header class="profile-header-component"></app-profile-header>
	<div class="wrapper main-container">
		<router-outlet></router-outlet>
	</div>
</div>