<!-- <h1>Hello {{ (profile | async).displayName }}</h1> -->
<button (click)="fakeChar()">Fake char</button>

<div class="profile" *ngIf="profile | async as p">

	<ng-template [ngIf]="p.finishedTutorial">
		<div class="profile-header">
			<div style="float: left">
				<h1>Hi {{ p.displayName }}</h1>
				<p>you have {{ gold }}
					<span class="icon icon-gold"></span>
				</p>
			</div>
			<ul class="profile-links">
				<li><a routerLinkActive="active" routerLink="pick-team">Pick team</a></li>
				<li><a routerLinkActive="active" routerLink="./">Profile overall</a></li>	
				<li><a href="javascript:;" (click)="onLogout()">Logout</a></li>		
			</ul>
		</div>

		<hr>
		

		<router-outlet></router-outlet>
		<div class="cards">
			<h2 class="cards-title">Characters:</h2>
			<div>
				<div 
					(click)="getCharacter(char, $event)" 
					*ngFor="let char of charactersIHave" 
					[ngClass]="'card card-' + char.rarity">
					<div class="card-image">
						<img src="http://via.placeholder.com/320x240" alt="">
					</div>
					<div>
						<h2 class="card-title">{{ char.name }} </h2>
						<p>{{ char.description }}</p>
					</div>
					<span>test</span>
				</div>
			</div>
		</div>
		<div class="cards">
			<h2 class="cards-title">Spells:</h2>
			<div>
				<div (click)="getSpell(spell, $event)" *ngFor="let spell of spellsIHave" [ngClass]="'card card-' + spell.rarity">
					<ul>
						<h2>{{ spell.name }} </h2>
						<p>{{ spell.description }}</p>
						<p>This is a {{ spell.spellGroup}} {{ spell.type}} and it's power is {{ spell.amount }} {{ spell.type === 'overtime' ?
							'per tick for ' + spell.duration + 's' : '' }}</p>
					</ul>
				</div>
			</div>
		</div>
		<div class="cards">
			<h2 class="cards-title">Consumables</h2>
			<div>
				<div (click)="getConsumable(consumable.id)" *ngFor="let consumable of consumablesIHave" [ngClass]="'card card-' + consumable.rarity">
					<ul>
						<h2>{{ consumable.name }} </h2>
						<p>{{ consumable.description }}</p>
					</ul>
				</div>
			</div>
		</div>

		<hr>
		<form (ngSubmit)="onSubmit(f)" #f="ngForm">
			<label for="displayName">Change your username</label>
			<input type="text" id="displayName" name="displayName" [ngModel]="p.displayName">
			<button type="submit" [disabled]="authService.userId == null">Submit</button>
		</form>
	</ng-template>
	<ng-template [ngIf]="!p.finishedTutorial">
		<app-tutorial></app-tutorial>
	</ng-template>
</div>