.items-list {
    width: 33.33%;
    padding: 0 10px;
    float: left;
}

li {
    list-style-type: none;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    background-color: bisque;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &.added {
        opacity: 0.5;
        cursor: no-drop;
    }
    &::after {
        position: absolute;
        height: 50px;
        width: calc(100% - 20px);
        display: block;
        // content: '';
        background: white;
        bottom: 10px;
        left: 10px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-shadow: inset 0 0 0 5px white;
    }
    span {
        position: absolute;
        background-color: red;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        display: none;
    }
    
    img {
        width: 100%;
    }
}

.card-title {
    font-size: 17px;
    text-align: center
}

.card-common {
    box-shadow: 0 0 5px 0 white;
    &::after {
        background-color: white;
    }
}
.card-rare {
    box-shadow: 0 0 10px 0 blue;
    &::after {
        background-color: blue;
    }
}
.card-epic {
    box-shadow: 0 0 10px 0 purple;
    &::after {
        background-color: purple;
    }
}
.card-legendary {
    box-shadow: 0 0 20px 5px orange;
    &::after {
        background-color: orange;
    }
}



hr {
    width: 100%;
    float: left;
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

.icon-gold {
    background-image: url('~assets/images/gold.svg');
}


.profile-links {
    float: right;
    li {
        display: inline-block;
        margin-left: 10px;
    }
    a {
        color: black;
    }
}

.profile-header {
    height: 70px;
}