<div *ngIf="!global.teamChild" class="row row-square">
	<div class="col col--desk-3-12">
		<div class="col-container">
			<div class="card-link">
				<div class="card-link-content">
					<h2>Create new team</h2>
					<a routerLink="new-team"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col col--desk-3-12">
		<div class="col-container">
			<div class="card-link">
				<div class="card-link-content">
					<h2>My teams</h2>
					<a routerLink="my-teams"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>