* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

hr {
    margin: 10px 0;
}

select,
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}