
<div class="form-picker">
	<input type="radio" value="spells" name="formType" id="spell" [(ngModel)]="formType">
	<label for="spell">Spell</label>
	
	<input type="radio" value="characters" name="formType" id="character" [(ngModel)]="formType">
	<label for="character">Character</label>
	
	<input type="radio" value="consumables" name="formType" id="consumable" [(ngModel)]="formType">
	<label for="consumable">Consumable</label>
</div>



<ng-template [ngIf]="formType === 'spells'">
	<form (ngSubmit)="onSubmit(fSpell)" #fSpell="ngForm">
		<fieldset>
			<legend>Spell</legend>
			<div class="form-group">
				<label for="name">Spell Name</label>
				<input type="text" name="name" id="name" ngModel>
			</div>
			<div class="form-group">
				<label for="description">Spell Description</label>
				<textarea name="description" id="description" ngModel rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="spellGroup">Spell Group</label>
				<select name="spellGroup" id="spellGroup" ngModel>
					<option value="healing">Healing</option>
					<option value="damage">Damage</option>
					<option value="protection">Protection</option>
				</select>
			</div>
			<div class="form-group">
				<label for="type">Spell Type</label>
				<select name="type" id="type" [(ngModel)]="spellType">
					<option value="direct">Direct</option>
					<option value="overtime">Overtime</option>
				</select>
			</div>
			<div class="form-group">
				<label for="amount">Spell amount</label>
				<input type="number" name="amount" id="amount" ngModel>
			</div>
			<div class="form-group">
				<label for="duration">Spell duration</label>
				<input type="number" name="duration" id="duration" ngModel [disabled]="spellType !== 'overtime'">
			</div>
			<button type="submit">Add new spell</button>
		</fieldset>
	</form>
</ng-template>

<ng-template [ngIf]="formType === 'characters'">
	<form (ngSubmit)="onSubmit(fChar)" #fChar="ngForm">
		<fieldset>
			<legend>Character</legend>
			<div class="form-group">
				<label for="name">Character Name</label>
				<input type="text" name="name" id="name" ngModel>
			</div>
			<div class="form-group">
				<label for="description">Character Description</label>
				<textarea name="description" id="description" ngModel rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="type">Character Type</label>
				<select name="type" id="type" ngModel>
					<option value="common">Common</option>
					<option value="rare">Rare</option>
					<option value="epic">Epic</option>
					<option value="legendary">Legendary</option>
				</select>
			</div>
			<button type="submit">Add new character</button>
		</fieldset>
	</form>
</ng-template>

<ng-template [ngIf]="formType === 'consumables'">
	<form (ngSubmit)="onSubmit(fCons)" #fCons="ngForm">
		<fieldset>
			<legend>Consumable</legend>
			<div class="form-group">
				<label for="name">Consumable Name</label>
				<input type="text" name="name" id="name" ngModel>
			</div>
			<div class="form-group">
				<label for="description">Consumable Description</label>
				<textarea name="description" id="description" ngModel rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="type">Consumable Type</label>
				<select name="type" id="type" ngModel>
					<option value="common">Common</option>
					<option value="rare">Rare</option>
					<option value="epic">Epic</option>
					<option value="legendary">Legendary</option>
				</select>
			</div>
			<button type="submit">Add new consumable</button>
		</fieldset>
	</form>
</ng-template>
	
	