form {
    padding: 0 10px;
}

.form-group {
    margin: 10px;
    display: flex;
    align-items: center;
    *:last-child {
        flex: 1;
    }
}

fieldset {
    padding: 10px;
}

select,
textarea,
input[type="text"],
input[type="number"] {
    padding: 5px 10px;
    // width: 400px;
}

label,
textarea,
select,
input {
    vertical-align: middle;
}

form {
    label {
        display: inline-block;
        // width: 150px;
        &::after {
            content: ':';
            // float: right;
            margin-right: 15px;
        }
    }
}

button {
    padding: 10px;
}

.form-picker {
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
    font-size: 0;

    label {
        font-size: 1rem;
        width: 33.33%;
        display: inline-block;
        text-align: center;
        transition: 0.2s linear;
        padding: 20px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    input {
        opacity: 0;
        width: 1px;
        height: 1px;
        margin: -1;
        padding: 0;
        overflow: hidden;
        position: absolute;
        &:checked + label {
            background-color: rgba(black, 0.8);
            color: white;
        }
    }

}